[path]
data = ./data/SS3_DE_26channels.npz
cheb = None
save = ./result/

[train]
channels = 26
fold = 31
context = 5
epoch = 50
batch_size = 64
optimizer = adam
learn_rate = 0.001
lr_decay = 0.0

[model]
adj_matrix = GL
Globaldense = 16
GLalpha = 0.0001
cheb_filters = 10
time_filters = 10
time_conv_strides = 1
time_conv_kernel = 3
num_block = 1
cheb_k = 3
l1 = 0
l2 = 0
dropout = 0.5
